<%- include("partials/header") -%>

<h1 class="startingH1" >Error</h1>
<p>Error occurred trying accessing <%= errorPageRoute %></p>
<p>Possible causes :</p>
<ul>
    <li>Article is yet to be published.</li>
    <li>Article doesn´t exist.</li>
</ul>

<script> alert("Error occured!!!"); </script>

<%- include("partials/footer") -%>